.contador {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  padding-top: 66px;
  color: white;
}

.contador-item {
  background: rgba(255, 255, 255, 0.15);
  padding: 1rem 1.2rem;
  border-radius: 8px;
  text-align: center;
  min-width: 70px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;

  z-index: 1;
}

.contador-item:hover {
  transform: scale(1.05);
}

.contador-num {
  font-size: 1.8rem;
  font-weight: 700;
}

.contador-label {
  font-size: 0.8rem;
  opacity: 0.9;
}

.cta-btn {
  background: var(--rojo-claro);
  color: var(--blanco);
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
}

.cta-btn:hover {
  background: #e53935;
  transform: scale(1.05);
}

@media (max-width: 630px) {
  .contador-item {
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
  }
}

@media (max-width: 460px) {
  .contador-item {
    padding: 0.1rem 0.3rem;
    border-radius: 8px;
  }

  .contador {
    gap: 0.6rem;
    margin-bottom: 0.2rem;
    padding-top: 66px;
    color: white;
  }
  .contador-num {
    font-size: 1.6rem;
  }
}

@media (max-width: 460px) {
  .contador {
    gap: 0.1rem;

    padding-top: 66px;
    color: white;
  }
  .contador-num {
    font-size: 1.3rem;
  }
}
